*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: #313131;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  border: 2px solid #DF8E00;
}

main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 25px 50px;
}

.location .city {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #ffffff;
  font-size: 16px;
}

.current .temp {
  font-size: 102px;
  color: #ffffff;
  font-weight: 900;
  text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.3);
}

.current .hi-low {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  text-shadow: rgba(0, 0, 0, 0.3);
}